.form__element{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
.form__element--label{
    color: #00649d;
    margin-bottom: 3px;
    font-size: 1.1em;
}
.form__element--input{
    font-size: 1.1em;
    padding: 5px 10px;
    border: 1px solid #00649d;
    border-radius: 3px;
    outline: none;
}
.form__element--input:focus{
    border: 1px solid #042538;
}
.form__element--input.textarea{
    resize: none;
    height: 150px;
}
.form__element--button{
    width: 100%;
    padding: 9px;
    background-color: #00649d;
    color: #fff;
    font-size: 1.1em;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top: 15px;
}
.form__element--button:hover{
    background-color: #042538;
}
