.miniassure {
  background-color: #f9f9f9;
}
.miniassure__figure {
  margin-bottom: 20px;
}
.miniassure__video {
  width: 100%;
  max-height: 450px;
  height: auto;
  display: block;
}
.miniassure__container {
  padding: 20px 3%;
}
.miniassure__title {
  position: relative;
  display: flex;
  font-size: 1.5em;
  color: #082f49;
  padding: 10px 15px;
  margin-bottom: 20px;
  gap: 10px;
}
.miniassure__title::before{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 2px;
  width: 50%;
  background: #0056b3;
}
.miniassure__title--block{
  position: absolute;
  left: 0;
  top : 0;
  height: 100%;
  width: 10px;
  background: #0056b3;
}
.miniassure__text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 12px;
}
.miniassure__cta {
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.miniassure__cta:hover {
  background-color: #0056b3;
}
@media only screen and (min-width:800px){
    .miniassure{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .miniassure__container{
        width:55%;
    }
    .miniassure__figure{
        width: 40%;
    }
    .miniassure__video{
        max-height: 450px;
    }
}